

<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <% category.forEach(function(data1){ %>
                <li class="tab col s3">
                    <a href="#<%= data1 %>">
                        <%= data1 %>
                    </a>
                </li>
                <%}) %>
        </ul>
    </div>
    <% category.forEach(function(data1){ %>
        <div id="<%= data1 %>" class="col s9">

            <div class="row">
                <div class="col s9 <%= data1 %>">
                    <% male.forEach(function(data){ %>
                        <% if (data.category == data1){ %>
                            <div class="col s5 l5 ">
                                <div class="card" id="<%= data1 %>">
                                    <div class="card-image">
                                        <img src="<%= data.picture %>">
                                        <span class="card-title" name="<%= data.category %>"><%= data.item %></span>
                                        <a class="btn-floating halfway-fab waves-effect waves-light red add"><i class="material-icons">add</i></a>
                                    </div>
                                </div>
                            </div>
                      <% }}) %>
                </div>
            </div>
        </div>
        <%}) %>

        <div class="col s3">
            <form action="/browse/bundle/men" method="POST" class='col s10 picturesform'>
              <% if (currentUser){ %>
                <input type="submit" value="next" class="submit waves-effect waves-light btn" style="display:none;" />
                <br />
            </form>
            <% } else { %>
              <div class="submit waves-effect waves-light btn" style="display:none;">Please Sign In</div>
              <% } %>
        </div>
</div>

<script>
    function removeButton(e) {
        let target = e.parentNode.remove()
        let picture = $(e.parentNode).find('img').attr('src')
        let con = $(e.parentNode).find('input').attr('placeholder')
        let data = $(e.parentNode).find('div').attr('id')
        let itemImage = $(
            `<div class="col l5 s5">
                              <div class="card">
                              <div class="card-image" id = ${data}>
                              <img src=${picture} />
                              <span class="card-title" name="${con}">${con}</span>
                              <a class="btn-floating halfway-fab waves-effect waves-light red" onclick="addAgain(this)"><i class="material-icons">add</i></a>
                              </div>
                              </div>`
        )

        $(itemImage).appendTo(`.${data}`)
        removeCheck()
        checkLength()
    }

    function removeCheck() {
        if ($(".sideBar").length >= 2) {} else {
            $(".submit").css("display", "none")
        }
    }

    function addAgain(e) {
        let con = $(e.parentNode).find('span').attr('name')
        let data = $(e.parentNode.parentNode).find('div').attr('id')
        let item = e.parentNode.parentNode.parentNode.remove()
        let picture = $(e.parentNode).find('img').attr('src')
        let itemImage = $(
            `<div class="card sideBar">
                              <div class="card-image" id = ${data}>
                              <img src=${picture} />
                              </div>
                              <div type="button" class="remove waves-effect waves-light btn" onclick="removeButton(this)">Remove</div>
                              <input value=${picture} type="hidden" name="picture" placeholder="${con}" />
                              </div>`
        )
        $(itemImage).appendTo(".picturesform")
        $(".submit").css("display", "block")
        removeCheck()
        checkLength()
    }

    $(document).ready(function() {
        $(".add").click(function(e) {
          if ($(".sideBar").length < 2){
            let con = $(e.target.parentNode.parentNode).find('span').attr('name')
            let data = $(e.target.parentNode.parentNode.parentNode.parentNode).find('div').attr('id')
            let item = e.target.parentNode.parentNode.parentNode.parentNode.remove()
            let picture = $(e.target.parentNode.parentNode).find('img').attr('src')
            let itemImage = $(
                `<div class="card sideBar">
                              <div class="card-image" id=${data}>
                              <img src=${picture} />
                              </div>
                              <div type="button" class="remove waves-effect waves-light btn" onclick="removeButton(this)">Remove</div>
                              <input value="${picture}" type="hidden" placeholder="${con}" name="picture"/>
                              </div>`
            )
            $(itemImage).appendTo(".picturesform")
            $(".submit").css("display", "block")
            removeCheck()
        } else {
          alert('only 2 items!')
        }})
    });
</script>
